<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Time Spread</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='output.css') }}"
    />
  </head>

  <body class="bg-black">
    <div class="w-full bg-black px-2 flex justify-between items-center">
      <a href="{{ url_for('landing') }}">
        <h2 class="text-lg text-white font-mono font-semibold">
          &copy; Time <span class="text-blue-300">Spread</span>
        </h2>
      </a>
      <a
        href="{{ url_for('signup') }}"
        class="text-blue-300 text-sm font-extrabold hover:text-orange-500"
        >sign up</a
      >
    </div>

    <div
      class="flex flex-col items-center justify-center w-full h-[300px] text-white"
    >
      <h1 class="text-4xl font-extrabold">WELCOME</h1>
      <p class="text-4xl font-extrabold">
        master <span class="text-orange-500">!</span>
      </p>
    </div>

    <div class="w-full">
      <form
        method="POST"
        action="/login"
        class="flex flex-col items-center justify-center space-y-4"
      >
        <input
          type="text"
          name="username"
          placeholder="Username"
          required
          class="flex justify-center items-center p-2 border-2 border-white rounded-md text-white text-sm font-extrabold"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
          class="flex justify-center items-center p-2 border-2 border-blue-300 rounded-md text-white text-sm font-extrabold"
        />
        <input
          type="submit"
          value="Login"
          class="px-4 py-2 bg-orange-500 rounded-lg font-semibold cursor-pointer hover:bg-orange-400"
        />
      </form>
    </div>
    <footer class="mt-16 border-t border-gray-800">
      <div
        class="max-w-6xl mx-auto px-4 py-6 flex flex-col sm:flex-row justify-between items-center gap-4 text-sm text-gray-400"
      >
        <div class="text-center sm:text-left">
          <p class="font-semibold text-white">Piloni</p>
          <p>Simple tools, built with intent.</p>
        </div>

        <div class="text-center sm:text-right">
          <p>
            Contact:
            <span class="text-gray-300"
              ><a href="mailto:contact.piloni@gmail.com"
                >contact.piloni@gmail.com</a
              ></span
            >
          </p>
          <p>&copy; 2026 Piloni. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
